body {
    background-color:#F2EFDF;
}
h1 {
    color:#BF2A45;
    text-align: center;
    font-weight: bold;
}
h4 {
    color:#022873;
    text-align: center;
    font-weight: bolder;
}
p {
    color:#022873;
    text-align: center;
}
nav {
    background-color:#023373;
    color:#FFE7B5;
}
button {
    background-color:#BF2A45;
    color:#F2EFDF;
    text-align: center;
    opacity:0.6;
    transition: 0.3s;
    cursor: pointer;
}
button:hover {
    opacity:1;
}